
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
	text-align: center;
	width: 70vw;
	margin: 1em auto 1em auto;
	font-size: 1.6em;
}

.stat-container {
	font-size: 0.9em;
	display: flex;
	align-items: center;
	width: 84vw;
	margin: 0 auto 1em auto;
}

.star-rating {
	width: 50%;
}

.star {
	width: 14%;
}

.counter {
	width: 40%;
	margin: 0 0 0 1em;
}

.reset {
	padding: 0.5em;
	border: 1px solid silver;
	background: whitesmoke;
	-webkit-box-shadow: 0px 0px 9px -0.5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 9px -0.5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 9px -0.5px rgba(0,0,0,0.5);
	border-radius: 0.2em;
}

.reset:hover {
	cursor: pointer;
}

.board {
	width: 85vw;
	height: 43vh;
	background: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: auto;
	border: 1px solid silver;
}

/* card styles*/
.card {
	width: 21%;
	height: 21%;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	margin: 0.3em
}

.card:hover {
	cursor: pointer;
}

.card figure {
	width: 100%;
	height: 100%;
	position: absolute; 
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 0.3em;
	-webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
}

.front {
	background: lightcoral;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.back {
	display: flex;
	justify-content: center;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/*app.js controlled CSS*/

.flipped {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.disabled {
	pointer-events: none;
}

.matched-card {
	pointer-events: none;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: whitesmoke;
	border: 1px solid silver;
	border-radius: 0.5em;
	height: 30vh;
	width:  87vw;
	z-index: 1001;
}

.modal-overlay {
	display: none;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.8;
}

.modal-close {
	font-size: 2.3em;
	margin: 0em 0.3em 0em 0em;
	float: right;
	padding: 0.2em;
}

.modal-close:hover {
	cursor: pointer;
}

.modal-heading {
	text-align: center;
	font-size: 1.5em;
	margin: 1em 0 0 0;
}

.timer,
.rating,
.play-again,
.moves {
	text-align: center;
	font-size: 0.7em;
	margin: 1.6em 0 0 0;
}

.modal .star {
	width: 6%;
}

.button-container {
	margin: auto;
	width: 8em;
}

.play-again {
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin: 1em auto;
	font-size: 0.8em;
	border-radius: 0.3em;
}

/******************************************
								media queries
*******************************************/
@media screen and (min-height:360px) {
	body {
		height: 75vh;
	}

	h1 {
		font-size: 1.2em;
		margin: 0.5em auto 0.5em auto;
	}

	.stat-container {
		margin: 0 auto 0.5em auto;
	}

	.star {
		width: 8%;
	}

	.reset {
		width: 2.3em;
	}

	.board {
		height: 95%;
	}
}

@media screen and (min-width:768px) {
	.star {
		width: 9%;
	}

	.board {
		width: 58vw;
		height: 60vh;
	}
	
	h1 {
		font-size: 2.4em;
	}
	
	.stat-container {
		width: 56vw;
		font-size: 1em;
	}
	
	.modal {
		width: 70vw;
		height: 35vh;
	}
	
	.modal-heading {
		text-align: center;
		font-size: 1.6em;
		margin: 1.5em 0 0 0;
	}

	.timer,
	.rating,
	.play-again,
	.moves {
		text-align: center;
		font-size: 1em;
		margin: 1.5em 0 0 0;
	}

	.modal .star {
		width: 4%;
	}
	
}

@media screen and (min-width: 1023px) {
	
	.board {
		width: 57vw;
		height: 65vh;
	}
	
	h1 {
		font-size: 2.8em;
	} 
	
	.stat-container {
		width: 54vw;
		font-size: 1.2em;
	}
	
}

@media screen and (min-width: 1440px) {
	
	.board {
		width: 42vw;
		height: 72vh;
	}
	
	h1 {
		font-size: 3em;
	} 
	
	.stat-container {
		width: 41vw;
		font-size: 1.6em;
	}
	
	.reset {
		width: 100%;
	}
	
	.modal {
		width: 43vw;
		height: 40vh;
	}
	
}